
body{
    
    background-image: url('./../../public/img/photo-1502773860571-211a597d6e4b.avif');
   
}

.vinyl {
    position: relative;
    overflow: hidden;
  }

  .vinyl {
    width: 100%;
    height: auto;
    transform-origin: center center;
    transition: transform 3s linear;
  }

  .rotate {
    animation: rotate 4s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
